@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.article {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/836/772/1011/icecream-wallpaper-preview.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-left: 20px;
}

.nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px
}

.brand-logo {
    width: 100px;
}

.nav-links-container {
    margin-top: 6px;
}

.nav-item {
    font-family: "Roboto";
    font-size: 18px;
    color: #334155;
    text-decoration: none;
    margin-left: 10px;
}

.heading-COVID {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: normal;
    color: #323f4b;
}

.button {
    background-color: #0967d2;
    border-radius: 8px;
    color: #ffffff;
    padding: 5px;
    margin: 15px;
    border-style: solid;
    border-color: #0967d2;
    border-width: 0px;
    height: 35px;
    width: 100px;
    font-size: 13px;

}

.img-A {
    height: 120px;
    width: 120px;
    padding: 5px;
    margin: 10px;
}

.C-card {
    background-color: #0967d219;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

.covid-img {
    height: 60px;
    width: 60px;
    padding: 5px;
}

.D-card {
    background-color: #3ebd93;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;

}

.paragraph-w {
    font-size: 12px;
    color: white;
}

.unordered-list {
    list-style-type: disc;
}

.P-card {
    background-color: #e668a7;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;

}

.H-card {
    background-color: #a368fc;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
}

.bg-container-V {
    background-color: #e12d3919;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.DOC-image {
    height: 50px;
    width: 50px;
}

.covid-image {
    height: 100px;

}

.paragraph-F {
    font-weight: 500;
    color: #707070;

}

.heading-F {
    font-weight: 300;
    font-size: 20px;
    color: #323f4b;
}

.heading-SV {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    padding: 15px;
}

.section1 {
    margin-top: 100px;
}

.heading {
    color: #2C1F12;
    font-family: "Lobster";
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
}

.paragraph {
    color: #3E3C32;
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.paragraph1 {
    color: #3E3C32;
    font-family: "Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
}

.button {
    background-color: #2C1F12;
    font-family: "Bree Serif";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    width: 100px;
    height: 30px;
}

.sectionmore1 {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/836/772/1011/icecream-wallpaper-preview.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-left: 20px;
}

.section2 {
    background: transparent;

    background-size: cover;
    border-color: #ffffff;
    border-width: 0px;
    border-radius: 10px;
    text-align: center;

}

.heading1 {
    color: #2C1F12;
    font-family: "Lobster";
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

.sectionleft {
    margin-top: 50px;
}

.sectionright {
    margin-top: 30px;
}

.section-para1-menu {
    padding-left: 30px;
}

.section-para2-menu {
    padding-right: 30px;
}

.sectionbox {
    background-color: #2C1F12;
    font-family: "Bree Serif";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    width: 160px;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    margin-left: 250px;
}

.sectionbowl {
    background-color: brown;
    font-family: "Courier New";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    width: 140px;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    margin: 10px;

}

.sectionSOOP {
    background-color: brown;
    font-family: "Courier New";
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    width: 140px;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    margin: 10px;

}

.paragraphmenu {
    color: #3E3C32;
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
